* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Header class changed to semantic header element. The same is true for all inheriting styles */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* Div element changed to a nav to element to more semantically describe the usage */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Changed from class-specific h2 style to an element level style to be used more semantically. */
/* Stlye moved up toward the top of the sheet for logical flow. */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Moved image out of the background-image style and into the actual HTML for better accessibility */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Replaced content class with styling for the more semantic main element. */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Replaced benefits class with styling for the more semantic section element, nested within main. */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Condensed the individual classes for each image in the main, as they were redundant */
main section img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Replaced benefits class with styling for the more semantic aside element. */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Condensed the individual classes for each section in the aside, as they were redundant */
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Condensed the individual classes for each h3 in the aside, as they were redundant */
aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Condensed the individual classes for each image in the aside, as they were redundant */
aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Changed h2 element to h4 element to logically flow in accordance with header hierarchy */
footer h4 {
    font-size: 20px;
}
